*{
    margin:0;
    padding: 0;
}

body{
    background-color: #070a1d;
    
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100hw;
  height:100vh;
  display:block;
}

.stars {
  background: url(../img/stars.png) repeat top center;
  z-index:0;
  -moz-animation:move-clouds-back 1000s linear infinite;
  -ms-animation:move-clouds-back 1000s linear infinite;
  -o-animation:move-clouds-back 1000s linear infinite;
  -webkit-animation:move-clouds-back 1000s linear infinite;
  animation:move-clouds-back 1000s linear infinite; 
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.container{
    position: relative;
    width: 900px;
    height: auto;
    margin: 0 auto;
    z-index: 9;
    padding: 20px 0;
    text-align: center;
}
.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.slotStage{
    background: url(../img/slot-wrapper-bg.png) no-repeat;
    width: 890px;
    height: 680px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.inner-wrapper{
    width: 880px;
    height: 528px;
    overflow: hidden;
    display: block;
    left: 6px;
    top: 7px;
    position: absolute;
    
}

#spin{
   width: 242px;
   height: 87px;
   display: block;
   margin: 20px auto;
   background: url(../img/button.png) no-repeat; 
   position: absolute;
   bottom: -20px;
   left: 50%;
   transform: translate(-50%,-50%);
   border: none;
   outline: none;
   cursor: pointer;
   transition: all 20ms linear; 
}
#spin:hover{
    background: url(../img/buttonHover.png) no-repeat; 
}


.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }

.reel{
    position: relative;
    margin-top: -100%;
}
.box{
    position: relative;
}


/*KEYFRAMES*/

@media  screen and (max-width: 1024px){
    .stars, .twinkling{
        width: 900px;
        height: 100vh;
    }
    .logo{
        width: 80%;
     }
     body{
        min-width: 900px;
     }
     .container{
         margin-top: 20%;
     }
}

@-ms-viewport{
    width: device-width;
  }
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}